{% extends 'main/layout.html' %}

{% block title %}
DSL Wood
{% endblock %}


{% block content %}
<style>
    @font-family:'Ubuntu Condensed', sans-serif;

section {
margin:20px;

}
.delivery-list .delivery-item img {
padding: 2rem 0;
width: 100%;
border: 1px solid #B1B1B1;
border-radius: 2rem;
}
</style>
<section class="delivery">
    <div class="container">
        <h1>Доставка и оплата</h1>
        <h3>Условия доставки</h3>

        <p>Доставка по Центральным регионам России - бесплатно при заказе более 50 000 рублей.</p>

        <p>Доставка в другие регионы
            - по согласованию с менеджером.</p>

        <p>Наша компания заботится об удобстве покупателей, мы сотрудничаем
            со всеми ведущими транспортными компаниями, что позволяет отделу логистики
            оптимизировать скорость и качество доставки в любой регион в зависимости от
            объема и веса.</p>

        <p>Все заказы Вы легко сможете отслеживать по трек
            номерам транспортных компаний. Также Вы можете самостоятельно забрать любой
            готовый заказ совершенно бесплатно с нашего склада по адресу:</p>

        <p><b>г. Москва, Алтуфьевское шоссе, д.37, стр.1, БЦ
            “Аврора”, 3 этаж, офис 307. </b></p>

        <p>График работы склада ПН-ПТ с 10:00 до 17:00.</p>

        <h3>Условия оплаты</h3>
        <p>Мы отгружаем заказы на условиях 100% предоплаты, однако
            постоянным партнерам может быть предоставлена отсрочка платежа (кредитная
            линия), величина которой зависит от объема продаж компании-партнера.</p>

        <p>Все условия Вы сможете
            согласовать непосредственно с нашим менеджером, отвечающим за Ваш заказ.</p>
    </div>
</section>
{% endblock %}